<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0/">
		<meta name="description" content=""/>
		<meta name="author" content=""/>

		<!-- Base Styles -->
		<link href="css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
		<link href="css/style.css" rel="stylesheet"/>

		<!-- FOR IE6 ~ 8 support of HTML% elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Favicon and Touch icons -->
		<link rel="shortcut icon" href=""/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href=""/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href=""/>
		<link rel="apple-touch-icon-precomposed" href=""/>
	</head>
	<body>
		<header>
			<div class="right-tools">
				<a href="">主页</a>
				<a href="">帮助</a>
				<a href="">设置</a>
			</div>
			<div class="right-button">
				<a href="" class="btn fl">录入下一篇</a>
				<a href="" class="btn btn-danger fl">下一步-封面设计</a>
			</div>
			<div class="header-nav">
				<h1>投稿系统</h1>
				<div class="p-bar">
					<div class='red-point' style="left: 94%"></div>
					<div class="progress">
						<div class="bar bar-danger" style="width: 100%"></div>
					</div>
				</div>
				<ul class="inline">
					<li>基本信息</li>
					<li>文章录入</li>
					<li>封面设计</li>
					<li>撰写导言</li>
				</ul>
			</div>
		</header>
		
		<div class="container">
			<div class="edit-box">
				<h2>给已创建的全本作品添加故事梗概、推荐语、作者简介或其他内容。</h2>
				<div id="edit-box" class="edit-content">
				<form class="form-horizontal" action="" methods="">
					<input type="text" name="title" class="span5 edit-title" placeholder="新建章节 (不分章节的作品可不填)"/>
					<textarea id="textarea1" name="editor1" class="edit-textarea">
					</textarea>
				</form>
				
				</div>
			</div>
		</div>
		<footer>
			
		</footer>
		<!-- Javascript
		=============================================== -->

		<!-- Placed at the end of the document so the pages load faster -->

		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

	</body>
</html>