
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 20px;
}
.cke_editable {
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing:0.15em;
}
blockquote {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-style: italic;
    padding: 2px 0;
}
.cke_contents_ltr blockquote {
    border-left-width: 5px;
    padding-left: 20px;
    padding-right: 8px;
}
.cke_contents_rtl blockquote {
    border-right-width: 5px;
    padding-left: 8px;
    padding-right: 20px;
}
a {
    color: #0782C1;
}
ol, ul, dl {
    padding: 0 40px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2em;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
}
img.right {
    border: 1px solid #CCCCCC;
    float: right;
    margin-left: 15px;
    padding: 5px;
}
img.left {
    border: 1px solid #CCCCCC;
    float: left;
    margin-right: 15px;
    padding: 5px;
}
img:hover {
    opacity: 0.9;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.marker {
    background-color: Yellow;
}
