/*!
 * M For Duyu
 *
 * Copyright 2012 Duyu, Inc
 */

/* Base Style*/
body{background-color: #F5F4F2;margin: 0;padding: 0;line-height: 14px}

a:link {color: #6E6868}
a:visited {color: #B74535}
a:hover {color: #B74535}
a:active {color: #B74535}

/* Header */
#header {width: 100%;}

header{height: 43px;background-color: #B74535;margin: 0 auto;padding: 0;text-align:center;width:100%;border-bottom:1px solid #913926;z-index: 9999}

header h1 {margin: 0;padding: 0;font-size: 20px;line-height: 45px; color: #F5F4F2}

.header-back {
  background:transparent url("../img/icon-button.png") no-repeat scroll -4px -3px;
  text-indent:-9999px;
  position:absolute;
  top:13px;
  left: 13px;
  height: 19px;
  width: 19px;
}

.header-user {
  background:transparent url("../img/icon-button.png") no-repeat scroll 0px -24px;
  text-indent:-9999px;
  position:absolute;
  top:11px;
  right: 12px;
  height: 22px;
  width: 22px;
}

/* Nav */
nav {width:100%;padding: 0;margin: 0;background-color: #F6F5F0;}

.fixed-layer {position: fixed;top:0px;}

nav ul.inline > li {
    padding: 0;
    margin: 0;
    height: 43px;
    width: 106px;
    margin: 0px;
    margin-right: -3px;
    margin-left: -1px;
    background-color: #F6F5F0;
    border-bottom:1px solid #DCD9D7;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #DCD9D7;
    text-align: center;
    font-size: 14px;
    line-height: 46px;
    color: #6E6868;
    overflow:hidden;
}
nav ul
{
   padding: 0;
   margin: 0 auto; 
   list-style:none;
   text-align: center;
}

/* Article */

article {width:100%;margin: 0;padding: 0}
section {width:100%;margin: 0;padding: 0}
.book-item-article {border-bottom: 1px solid #ABABAB;border-top: 1px solid #FFFFFF;}

section .book-section-left {width: 26%;text-align: center;float: left;margin: 13px 10px 10px 13px;padding: 0}
section .book-section-left img {}
section .book-section-right {width:55%;float: left;margin: 5px 10px 10px 5px;padding: 0}
section .book-section-right h3 {font-size: 20px;line-height: 20px;font-weight: 500;color:#333333;}
section .book-section-right h5 {font-size: 12px;line-height: 12px;font-weight: 500;color:#666666;}
section .book-section-right span {font-size: 12px;line-height: 16px;margin-bottom: 10px;color: #DF624B}
section .book-section-right p {margin-top: 10px;line-height: 18px;color:#666666;}


/* Book*/

#article-cover {height: 153px;display: block;background-color: #FFFFFF;padding: 12px;}
#article-cover .article-cover-left {width: 100px;float: left;}
#article-cover .article-cover-left img {max-width: 90px;}
#article-cover .article-cover-center {float: left;margin-left: 8px;}
#article-cover .article-cover-center h2{font-size: 16px;line-height: 18px;color: #333333;margin:0px;}
#article-cover .article-cover-center h5{font-size: 12px;line-height: 14px;color: #333333}
#article-cover .article-cover-center h5{font-size: 12px;line-height: 14px;color: #333333}
#article-cover .article-cover-center span{font-size: 12px;line-height: 16px;color: #666666}
#article-cover .article-cover-center .article-cover-span{margin-top: 55px;}
#article-cover .article-cover-right {float: right;margin: 0}
#article-cover .article-cover-right .btn{margin-top:95px;}

#article-menu,#article-info,#article-summary {padding: 12px;}
#article-menu h3,#article-info h3,#article-summary h3 {font-size: 16px;line-height: 22px;color:#333333;margin:0;}
#article-menu ul,#article-info ul,#article-summary ul {margin-top: 10px;} 
#article-menu li,#article-info li,#article-summary li {font-size: 14px;line-height: 22px;color:#17130B;margin:0;padding: 0;}

#article-summary{border-top:1px solid #D0CECE;background-color: #F6F6F6;}
#article-summary p {margin-top: 10px;line-height: 18px;color:#666666;}
#article-info {border-bottom:1px solid #D0CECE;}


/* User */
#user {margin: 0 auto;text-align: center;padding: 20px;}
#user .input-prepend {margin-top:15px}
#user input[type="text"] {height: 44px;font-size: 14px;line-height: 18px}
#user .add-on {height: 22px;width:51px;font-size: 18px;line-height: 24px;color: #999999;text-align: center;padding: 10px;}
#user .btn-large {width: 261px;margin: 10px;color: #565252}
#user a {color: #6e6868}
#user a:link {color: #6e6868}


/* Footer*/

footer {margin:0 auto;text-align:center;width: 100%;padding: 0}
footer .info {padding:20px;}
#footer {margin:10px;}
