/************* fixed **/

.ui-content {padding: 0;}
.ui-header, .ui-footer {border: none;}

.ui-loading .ui-loader {
    display: block;
}

.ui-loader .ui-icon {
    border-radius: 36px 36px 36px 36px;
    display: block;
    height: 44px;
    margin: 0;
    padding: 1px;
    width: 44px;
}

.ui-loader .ui-icon-loading {
    background:transparent url("../img/loading.gif") repeat scroll;
    background-size: 44px 44px;
    padding: 0px;
    margin:0px;
    height: 44px;
    width: 44px;
}

.ui-loader-default h1 {
    font-size: 0;
    height: 0;
    overflow: hidden;
    width: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2)
{
    .header-back 
    {
        background-image:url("../img/m/home-2x.png");
        background-size:24px 24px;
    }
    .header-user {
      background-image:url("../img/m/account-2x.png");
      background-size: 24px 24px;
    }
    .article-show-button
    {
        background-image: url("../img/m/more-2x.png");
        background-size: 14px 14px;
    }
    .ui-loader .ui-icon {
        border-radius: 18px 18px 18px 18px;
        display: block;
        height: 22px;
        margin: 0;
        padding: 1px;
        width: 22px;
    }

    .ui-loader .ui-icon-loading {
        background:transparent url("../img/loading.gif") repeat scroll;
        background-size: 23px 23px;
        padding: 0px;
        margin:0px;
        height: 22px;
        width: 22px;
    }
    .app-close{background:transparent url("../img/m/delect-export-2x.png") no-repeat right;background-size: 23px 23px;}
    .app-logo{background:transparent url("../img/m/logo-export-2x.png") no-repeat right;background-size: 38px 38px;}
}

